/* Estilos generales */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ededed;
    position: relative;
}

/* Estilos header */

.header {
    width: 100%;
    height: 80px;
    background-color: #282828;

    display: flex;
}

.header .name_administrador {
    width: 50%;
    height: 100%;
    padding-left: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .name_administrador h4 {
    color: white;
}

.header .box_btn {
    width: 50%;
    height: 100%;
    padding-right: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .box_btn button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ffb612;
    border-radius: 4px;
}

/* Estilos main */

main {
    width: 100%;
    height: auto;

    display: flex;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

main nav {
    width: 20%;
    height: 100%;
    background-color: #363636;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main nav .info_admin {
    width: 100%;
    height: 30%;
}

main nav .foto_admin {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

main nav .navegacion {
    width: 90%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main nav .navegacion a {
    background-color: #bd213e;
    width: 80%;
    height: 40px;
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

main nav .navegacion a:hover {
    background-color: #b61c38;
}

main .box_contenido {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .box_contenido .contenido {
    width: 95%;
    height: 90%;
}

main .box_contenido .contenido .titulo {
    width: 100%;
    border-bottom: 4px solid #bd213e;
}

table {
    margin-top: 40px;
    border-collapse: collapse;
    font-size: 12pt;
    width: 100%;
}

table th {
    text-align: left;
    padding: 10px;
    background:#363230;
    color: white;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table td {
    padding: 10px;
}

.btn_form {
    background-color: #ffb612;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn_form_1 {
    background-color: #ffb612;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.frm_room-add {
    width: 100%;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grupo_boton {
    grid-column: 1 / -1;
    justify-self: center;
    width: 100px;
    height: 40px;
}

.grupo_boton input {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ffb612;
    border-radius: 40px;
}
.grupo {
    display: flex;
    flex-direction: column;
}

.grupo input, select {
    height: 30px;
    margin-top: 5px;
    padding-left: 5px;
    border-radius: 4px;
    border: none;
    border: 1px solid gray;
}

.flotante {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: #28282852;
    z-index: 2;
}

.contenido_flotante {
    position: absolute;
    top: 22%;
    left: 30%;
    width: 800px;
    height: 250px;
    background-color: white;
    border: 4px solid gray;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_flotante {
    width: 90%;
    height: 40px;
    border-bottom: 2px solid #bd213e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cerrar_flotante {
    width: 95%;
    height: 35px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cerrar_flotante i {
    font-size: 20px;
    cursor: pointer;
}

.contenido_flotante form {
    padding: 10px;
    width: 90%;
    height: 175px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
}

.grupo_flotante {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.grupo_flotante input {
    height: 30px;
    padding: 0 10px;
}

.grupo_boton-flotante {
    grid-column: 1 / -1;
    justify-self: center;
}

.grupo_boton-flotante input{
    width: 200px;
    height: 40px;
    background-color: #ffb612;
    border: none;
    border-radius: 4px;
}

/***********formulario registrar*************/

.forreg{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: .3rem;
    justify-content: center;
    --form-ok-color:#4caf50;
    --form-error-color:#f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.forreg legend{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.forreg input{
    width: 100%;
    display: block;
    height: 5vh;
    padding-left: 3vh;
}
.forreg *::placeholder{
    color:#000000
} 
.forreg [required]:valid{
    border: thin solid var(--form-ok-color);
}
.forreg [required]:invalid{
    border:thin solid var(--form-error-color);
}
.forreg input[type="submit"]{
    width:50%;
    margin: 3vh 0 0 25%;
    background-color: #0161af;
    color:#ffffff;
    border: none;
    outline: 0;
    font-weight: bold;
    font-size:1rem;
    box-shadow: 10px 10px 20px rgba(61, 60, 60, 0.5);
}
.forreg input[type="submit"]:hover{
    background-color: #1671bd;
    color:#ffffff;
    cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { 
    -moz-appearance:textfield; }


.forreg-error{
    margin-top:0rem;
    font-size:80%;
    background-color: var(--form-error-color);
    color:#ffffff;
    transition: all 800ms ease;
    text-align: center;
    width: 100%;
    height: 4vh;
    padding-left: 1rem;
}
.forreg-error.isactive{
    display: block;
    animation: show-messague 1s 1 normal 0s ease-out both;
}
.none{
    display: none;
}
@keyframes show-messague{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}